.cor1{
  background-color: hsla(0,100%,50%,0.5);
}
.cor2{
    background-color: hsl(120,100%,50%);
}
.cor3{
    background-color: hsl(240,100%,50%);
    color:hsl(0,100%,50%)
    
}
.span{
    background-color: hsl(120,100%,50%);
}

/*

H --> HUE, Tom de cor, 0 - 360
S --> Saturation, saturação, valor entre % - 100%
L --> Lightness, Luminosidade, valor entre 0% - 100%  valor normal 50%
A --> representa opacidade da cor 
0.0 totalmente transparente
0.1 totalmente opaco
*/